@import '../../scss/variables.scss';

.friend {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-template-rows: max-content;
  column-gap: 20px;
  font-family: $primary-font-family;

  @media (max-width: 500px) {
    column-gap: 10px;
  }

  &__photo {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid $link-color;

    @media (max-width: 500px) {
      width: 70px;
      height: 70px;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    padding: 10px 0;
    align-self: center;
  }

  &__name {
    color: $link-color;
    padding-bottom: 3px;
    transition: 0.1s;

    &:hover,
    &:focus {
      padding-top: 2px;
      padding-bottom: 5px;
    }

    &:visited {
      color: $visited-link-color;
    }
  }

  &__online {
    padding: 0 20px;
    width: 40px;

    @media (max-width: 500px) {
      padding: 0 10px;
      width: 25px;
    }
  }
}
